<%- include('./partials/head.ejs') %>
<body>
<header>
    <a href="/admin">terug</a>
</header>
<main>
    <form action="/admin/creatematch" method="post">
        <input type="date" name="speeldag">
        <input type="time" name="speeltijd">
        <input type="number" name="thuisscore" value="0">
        <input type="number" name="uitscore" value="0">
        <input type="text" name="thuisnaam" placeholder="thuis">
        <input type="text" name="uitnaam" placeholder="uit">
        <input type="submit" value="verstuur score">
    </form>
</main>
</body>
<%- include('./partials/footer.ejs') %>