<%- include('./partials/head.ejs') %>
<body>
<header>
    <a href="/admin">terug</a>
</header>
<main>
    <h1>Weet je zeker dat je de westrijd wilt laten aflopen?</h1>
    <a href="/admin">Ja</a>
    <a href="/admin/creatematch">Nee</a>
</main>
</body>
<%- include('./partials/footer.ejs') %>