<%- include('./partials/head.ejs') %>
<body>
<header>
    <h1>Houdt de scores bij van je favoriete team.</h1>
</header>
<main>
    <h1><%= speelDag %></h1>
    <ul></ul>
</main>
</body>
<%- include('./partials/footer.ejs') %>