<%- include('./partials/head.ejs') %>
<body>
<header>
    <h1>Houdt de scores bij van je favoriete team.</h1>
</header>
<main>
    <ul>
        <% if(matchData) {%>
            <li>matchData loaded</li>
        <% }  else{%> 
            <li>no matchData</li>
        <% } %> 
    </ul>
</main>
</body>
<%- include('./partials/footer.ejs') %>