<%- include('./partials/head.ejs') %>
<body class="index-admin">
    <header>
        <h1>Houdt de scores bij van je favoriete team.</h1>
    </header>
    <main>
        <ul>
            <li><p>Je hebt nog geen wedstrijden aangemaakt.</p></li>
        </ul>
        <a href="/admin/creatematch">voeg wedstrijd toe</a>
    </main>
</body>
<%- include('./partials/footer.ejs') %>